name: Publish NuGet

on:
  push:
    branches: [ release ]
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - name: Pack
        run: dotnet pack src/Simiosoft.Prelude.fsproj --configuration Release
      - name: Setup nuget config
        run: sed -i '' 's/GITHUB_TOKEN/${{ secrets.GITHUB_TOKEN }}/g' nuget.config
      - name: Publish
        run: dotnet nuget push **/*.nupkg -s "github"
